body
{
    margin: 0px;
    padding: 0%;
    font-family: sans-serif;
}
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: rgb(255, 0, 41);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    z-index: 1;
    width: 280px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
.navbar
{   background-color: rgba(2, 2, 2, 0.5); 
    width: 100%;
    position: fixed;
    padding: 17px 30px;
    z-index: 1;
}
.logo 
{
    height: 93px;
    margin-top: -41px;
}
.nav-link {
    display: block;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    padding: .5rem 1rem;
    font-weight: 700;
}
.bd-example
{
margin-left: 150px;
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: -33px;
    color: white;
    margin-right: -9px;
    background: rgb(235, 10, 10);
    font-size: 17px;
    border: none;
    cursor: pointer;
}

  .dropdown-menu1{
    position: absolute;
    top: 100%;
    left: -154px;
    z-index: 1000;
    width: 293px;
    display: none;
    /* float: left; */
    margin-left: 0px;
    /* margin-right: 133px; */
    min-width: 10rem;
    padding: 23px 34px 23px 26px;
    margin-top: 20px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
  }


.navbar-brand {
    display: inline-block;
    padding-top: 2.3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    position: absolute;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.container1
{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.banner
{    background-color: rgba(2, 2, 2, 0.5);
    height: 400px;
    width: 100%;
    background-position: center;
    background-image: url(https://www.sgproducciones.com.mx/data/image_imgal/a_a_guadalupe-pineda-710.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.banner_h1
{
text-align: center;
color: white;
padding-top: 214px;
}