body
{
    margin: 0px;
    padding: 0%;
    font-family: sans-serif;
    background-image: url("images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: rgb(255, 0, 41);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    z-index: 1;
    width: 280px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
.navbar
{   background-color: rgba(2, 2, 2, 0.5); 
    width: 100%;
    position: fixed;
    padding: 17px 30px;
    z-index: 1;
}
.logo 
{
    height: 93px;
    margin-top: -41px;
}
.nav-link {
    display: block;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    padding: .5rem 1rem;
    font-weight: 700;
}
.header
{
    background-color: #000000ed;
    height: 80px;
}
.bd-example
{
margin-left: 150px;
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: -33px;
    color: white;
    margin-right: -9px;
    background: rgb(235, 10, 10);
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.navbar-brand {
    display: inline-block;
    padding-top: 2.3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    position: absolute;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.container1
{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
/* Settings - feel free to play with these */

.demo-video-wrapper {
	background-image: url(https://d3k5xyayaartr5.cloudfront.net/_assets/home-video/beach-waves-loop.jpg);
}

/* Video overlay and content */
.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none; /* Allows right click menu on the video */
	background: url($overlay_pattern) left top repeat;
  opacity: $overlay_opacity;
}
.video-hero--content {
	position: relative;
	text-align: center;
	color: #FFF;
  margin: 150px 0;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.video-hero--content h2 {
	font-size: 34px;
	margin: 0 0 10px;
}
.video-hero--content p {
	font-size: 20px;
	margin: 0;
}

/* Other stuff */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.page-width {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;
}


.title {
	display: block;
	font-weight: bold;
	font-size: 18px;
}
.subtitle {
	display: block;
	font-weight: normal;
	font-size: 15px;
	color: #959699;
}
a:hover .subtitle {
	color: #FFF;
}
#site-title {
	float: left;
	margin: 0;
}
#content {
	padding: 40px 0;
}


/* CSS from jQuery Background Video plugin */
/**
 * Set default positioning as a fallback for if the plugin fails
 */
.jquery-background-video-wrapper {
	position: relative;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	    	background-size: cover;
}
.jquery-background-video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-o-object-fit: contain;
	   object-fit: contain;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	    	transform: translate(-50%,-50%);
}
/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .jquery-background-video {
	opacity: 0;
	-webkit-transition: opacity 300ms linear;
			transition: opacity 300ms linear;
}
.js .jquery-background-video.is-visible {
	opacity: 1;
}

/**
 * Pause/play button
 */ 
.jquery-background-video-pauseplay {
	position: absolute;
	background: transparent;
	border: none;
	box-shadow: none;
	width: 20px;
	height: 20px;
	top: 15px;
	right: 15px;
	padding: 0;
	cursor: pointer;
	outline: none !important;
}
.jquery-background-video-pauseplay span {
	display: none;
}
.jquery-background-video-pauseplay:after,
.jquery-background-video-pauseplay:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: all .3s ease;
			transition: all .3s ease;
}
.jquery-background-video-pauseplay.play:before {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #FFF;
}
.jquery-background-video-pauseplay.pause:before,
.jquery-background-video-pauseplay.pause:after {
	border-top: 10px solid #FFF;
	border-bottom: 10px solid #FFF;
	border-left: 5px solid #FFF;
}
.jquery-background-video-pauseplay.pause:after {
	left: 10px;
}
/**********************banner end*******/
/*search box css start here*/
.search-sec{
    padding: 2rem;
    background-image: url("https://d38lgsgffpqnpg.cloudfront.net/v2/web/images/staticimages/quick-bg.jpg");
}
.search-slt{
    display: block;
    width: 84%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(2rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 85%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(2rem + 2px) !important;
    border-radius:0;
}
.main-services
{
    height: 422px;
    width: 100%;
}

.main-services h1{
    margin-top: 113px;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
}.steps
{
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    margin-top: 0%;
}
/*****search end*********/
.video_contents
{
width: 108%;
}
.video_header
{
    margin: 42px 0px;
}
.video_header_h1
{
text-align: center;
    font-size: 29px;
    font-weight: 700;
    letter-spacing: 2px;
}
.line1 {
    height: 5px;
    width: 29%;
    /* margin-top: 6px; */
    text-align: center;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    padding: -1px 0px 0px 0px;
    background-color: #ef3434;
}

    .card1 {
    position: relative;
    display: -ms-flexbox;
    display: inline-block;
    width: 198px;
    margin: 11px 11px;
    height: 333px;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:white;
    -webkit-box-shadow: 0 4px 9px 0 rgba(67,65,79,.1);
    box-shadow: 0 4px 9px 0 rgba(67,65,79,.1);
    overflow: hidden;
    border-radius: .25rem;
}
.card1_1_img
{
height: 74px;
}
.card1_2_img
{
    height: 76px;
    width: 197px;
}
.video_cards
{
    padding: 87px 0px;
    height: auto;
    background-image:url("http://www.hdfondos.eu/pictures/2012/1219/1/orig_582842.jpg");
}
.video_cards_heading
{
text-align: center;
padding: 0px 0px 0px 0px;
font-weight: 700;
color:white;
font-size: 33px;
letter-spacing: 1.4px;
}
.container2
{
    width: 75%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.card-poster
{
    position: relative;
    display: -ms-flexbox;
    display: inline-block;
  width: 173px;
    margin: 11px 32px;
    height: 387px;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: white;
    -webkit-box-shadow: 0 4px 9px 0 rgba(67,65,79,.1);
    box-shadow: 0 4px 9px 0 rgba(67,65,79,.1);
    overflow: hidden;
    border-radius: .25rem;
}
.card-body1
{
    padding: 0%;
}
.card-footer1
{
    background-color: transparent;
    padding: 0px 17px 0px 15px;

}
.book_now
{
    margin-bottom: 0px;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 15px;
    color: #a5a4a4;
}
.M_language
{
    color: white;
    font-size: 13px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 8px;
    letter-spacing: 1.6px;
}
.censor_icon_U
{
    color: black;
    background: yellow;
    font-size: 16px;
    width: 26px;
    border-radius: 14px;
    height: 26px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 4px;
    text-align: center;
    /* padding: 10px 10px; */
}

.censor_icon_A
{
    color: white;
    background: red;
    font-size: 16px;
    width: 26px;
    border-radius: 14px;
    height: 26px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 4px;
    text-align: center;
    /* padding: 10px 10px; */
}
.censor_icon_UA
{
    color: white;
    background: green;
    font-size: 12px;
    width: 26px;
    border-radius: 14px;
    height: 26px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 8px;
    text-align: center;
    /* padding: 10px 10px; */
}
.book_now1
{
    font-size: 15px;
    margin-left: -13px;
    letter-spacing: 2px;
    margin-top: 6px;
    color: #62ffd4;
}
.line
{
    height: 0.5px;
    width: 121%;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: -12px;
    padding: -1px 0px 0px 0px;
    background-color: gainsboro;
}
.foot_img
{
    height: 28px;
}
.ticket
{
    font-size: 31px;
    color: #dc3545;
    position: absolute;
}
.video_img
{
    height: 250px;
    width: 100%;
    transition: ease-in;
    margin-top: 0px !important;
    margin-left: 0px !important;
}
video {
    max-width: 100%;
  }
.video_img:hover
{
transform: 0 100% 0 rotateX(45deg);
}
/***modals****/
.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    color: white;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom:none;
    border-top-right-radius: calc(.3rem - 1px);
}
.height-line
{
    height: 32px;
    width: 7px;
    position: absolute;
    margin-left: 291px;
    background-color: red;
}
.height-line1
{
    height: 49px;
    width: 7px;
    position: absolute;
    display: none;
    background-color: red;
}
.modal-title
{
    text-align: center;
    margin-right: auto;
    letter-spacing: 2px;
    margin-left: auto;
    padding-left: 164px;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-image: url("https://d38lgsgffpqnpg.cloudfront.net/v2/web/images/staticimages/bg.jpg");
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.movie_name
{
    font-size: 15px;
    color: white;
    letter-spacing: 1.4px;
    line-height: 22px;
}
/*********end******/
.button_shows
{
    text-align: center;
    margin: 20px 0px;
}
.btn_show
{
padding: 0px 36px;
height: 43px;
margin: 0px;
}
.btn_p
{
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-top: 11px;
    font-family: sans-serif;
}
    #myDIV1 {
    width: 100%;
    /* padding: 50px 0; */
    /* text-align: center; */
    /* background-color: lightblue; */
    margin-top: -17px;
}
.btn-more
{
width: 60px;
font-size: 42px;
background: white;
border: white;
position: absolute;
color: black;
margin-top: -27px;
margin-left: 528px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
/* padding: 3px 0px 0px 0px; */
border-radius: 34px;
}
/**************************footer********************/
.twitter
{
    padding: 52px 0px;
    background: #fbfbfb;
}
.foot
{ 
    width: 100%;
    height: 365px;
    color: white;
    background-color: #191717;
    padding-top: 48px;

/* padding: 28px; */
}

.footer_logo
{
height: 162px;
margin-left: -30px;
}
.service-app {
    font-family: "montserrat-bold", Arial;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 16px 0;
}
.contact1 {
    padding: 3px 0;
    font-weight: 500;
    font-size: 15.5px;
    letter-spacing: 0.5px;
}
.map
{
    height: 280px;
    width: 100%;
}

.footer
{ 
height: 62px;
text-align: center;
color:white;
background: black;
padding-top: 3px;
}
.socila_media_link
{
   position: absolute;
    margin-top: -42px;
}
.social_media {
    font-size: 32px;
    margin-left: 30px;
}
.copy_rights
{
    font-size: 15px;
    letter-spacing: 1.2px;
    padding-top: 19px;
}
  /**************footer*******************/