/*****************************/


/* Copyright by StudioMp4 */


/*****************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);

/* if use SSL (https://) >>> set the URL Source to https://fonts.googleapis.com/... to load google web-fonts */


/* SHOWROOM CSS */


/****** image hover ******/

.image-hover * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.image-hover {
	position: relative;
    width: 100%;
    height: 250px;
	display: inline-block;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3)
}

.image-hover a {
	text-decoration: none
}

.image-hover img {
	margin: -100px 0px 0px -100px
}


/*** effect - image roll ***/

.img-roll {
	background: #000
}

.img-roll img {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px
}
.img-roll img {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px
}
.img-roll .img-1 {
	left: 0px
}

.img-roll .img-2 {
	left: 123%
}

.img-roll:hover .img-1 {
	left: 123%
}

.img-roll:hover .img-2 {
	left: 0px
}

.img-roll img {
	transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
}

.img-roll:hover img {
	transition: all 1.2s ease-in-out;
	-webkit-transition: all 1.2s ease-in-out;
	-moz-transition: all 1.2s ease-in-out;
	-ms-transition: all 1.2s ease-in-out;
	-o-transition: all 1.2s ease-in-out;
}


/*** effect - shadow 1 ***/